body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

menu ul, .products {
  display: flex;
  list-style-type: none;
  padding: 0;
}

menu ul li,  .products li {
  color: #786745;
  font-weight: bold;
  margin: 0 10px;
}

.window{
  width: 20vw;
  margin: auto;
  font-weight: bold;
}

ul{
  list-style: none;
  padding: 0px;
}